* {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(253, 239, 220);
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header div {
        display: block;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header div {
        display: block;
        text-align: center;
    }

    .pageHeading {
        white-space: nowrap;
    }

    main {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header div {
        display: block;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    header div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Header styling begins here */


.pageHeading {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    margin: 0;
    padding: 0;
}

.navList {
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.navList li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
}

.navList li a {
    color: black;
    text-decoration: none;
    padding: 0 10px;
}

/* Main styling begins here */

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
}
main h2 {
    margin: 0;
    margin-bottom: 10px;
}
main ul {
    margin: 0;
    margin-bottom: 100px;
}
main form fieldset {
    box-shadow: 2px 2px;
    margin: 0;
    margin-bottom: 5px;
}
.submitbutton {
    border: 1px solid black;
    color: black;
    box-shadow: 2px 2px;
    margin-bottom: 100px;
}