* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(253, 239, 220);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
  }

section {
    margin: 10px 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding-left: 40px; 
}

.defaultLink {
    color: blue;
    text-decoration: underline;
}

.group {
    margin-bottom: 10px;
}

.noWrap {
    text-wrap: nowrap;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Header styling begins here */
.nav {
    display: flex;
}

.pageHeading {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    text-align: center;
    text-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navList {
    display: inline;
    white-space: nowrap;
    padding: 0;
    list-style: none;
}

.navList li {
    display: inline;
}

.navLink {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid black;
}

.navLink:hover {
    background-color: black;
    color: white;
}

/* Main styling begins here */

main {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 800px;
}

main form fieldset {
    box-shadow: 2px 2px;
    margin: 0;
    margin-bottom: 5px;
}
.submitbutton {
    border: 1px solid black;
    color: black;
    box-shadow: 2px 2px;
    padding: 2px;
    border-radius: 0;
}

img {
    width: 100%;
}

/* Footer styling begins here */
footer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    gap: 10px;
}
.footerLinks {
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 50%;
    max-width: 600px;
}
.footerList {
    list-style: none;
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    main, footer {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    main, footer {
        width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main, footer {
        width: 80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 0;
    }
}