*{
    color: white;
    padding: 0;
    margin: 0;
}
body {
    background-color: #222222;
}
main {
    padding-left: 15%;
    padding-right: 15%;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 5px;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
fieldset {
    border-radius: 10px;
}
.footerspan {
    padding-right: 10px;
}
.redText, .whiteText {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.redText {
    color: red;
}
.whiteText {
    color: white;
}
#umut {
    font-size: 50px;
}